{% extends 'base.html.twig' %}

{% block title %}Articulo{% endblock %}

{% block header %}
    {#
    OPCION 1: Mostrar usando etiqueta img
    <img 
        src="{{asset('assets/images/pangolin.jpeg')}}" 
        width="100"
        height="100"
        alt="logo">
    #}

    {#
    OPCION 2: Mostrar usando plantilla mostrar_imagen.html.twig
    {% include 'mostrar_imagen.html.twig' ignore missing %}
    #}

    {#
    OPCION 3: Mostrar usando plantilla mostrar_imagen_parametro.html.twig
    #}
    {% include 'mostrar_imagen.html.twig' with {'imagen': 'pangolin.jpeg'} %}
{% endblock %}

{% block content %}
    {% if articulo %}
        <h1>{{articulo.title}}</h1>
        <p> Fecha de creacion: {{articulo.created}} </p>
        <p> ID: {{articulo.id}} </p>
    {% else %}
        <p>El articulo no existe</p>
    {% endif %}
{% endblock %}

{% set today = "now"|date("Y-m-d") %}
{% block footer %}{{today}}{% endblock %}